body {
    background-color: #f8f9fa;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .jumbotron {
    background-color: #e9ecef;
    padding: 2rem 1rem;
  }
  
  .comunicado-card {
    margin-bottom: 20px;
  }